body {
    font-family: 'Arial', sans-serif;
  /* turning an element into a special box that helps you arrange and align its contents more easily*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,158,233,1) 100%); 
}

h1 {
    margin-bottom: 20px;
}

button {
    align-items: center;
    padding: 16px 16px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}



button:hover {
    background-color: #e8e8e8;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form label {
    font-size: 20px;
}

