body {
    font-family: 'Arial', sans-serif;
  /* turning an element into a special box that helps you arrange and align its contents more easily*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
